* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 75%;
}

body {
  background-color: $body-background-color;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h4 {
  font-weight: 200;
  font-size: 1.4rem;
  margin-bottom: $space;
}

a {
  color: black;
}

p {
  margin-bottom: $space;
  font-size: 1.4rem;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
}

//input bars
.item-field {
  border-radius: 5px;
	color: black;
	text-align: center;
	padding: .9em 1.8em;
  border: none;
  cursor: pointer;
	outline: none;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
  transition: all .1s linear;
  margin-right: .4rem;
}
.item-field:hover {
	background-color: $grey;
}

/* after button is clicked */
.item-field.active {
	width: 90%;
	outline: none;
	text-align: left;
	cursor: inherit;
}

.add-bar {
  margin: 0;
}