.button {
  background-color: $button-bg;
  border: none;
  border-radius: 5px;
  color: $button-color;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  transition: background .2s ease;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  padding: 0.8rem 1.3rem;
}

.button--link-text {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}

ion-icon {
  cursor: pointer;
  padding-top: .4rem;
}
